/* .ADD */
main {
	max-width: 1280px;
}

h2 { text-align: center; }

button {
	padding: .3rem;
	margin: 0.5rem 0;
}

.items {
	display: flex;
	justify-content: space-around;
}

.add input, .add label, .add textareal, .add select {
	display: block;
}

.add label {
	margin-top: 1rem;
}

.box {
	display: flex;
	flex-direction: column;
}

.toggle {
	border: thin solid #ff4c4c;
	padding: 1rem;
	margin-bottom: 1rem;
}

.hidden { display: none; }

/* *.ADD */
textarea {
	outline: none;
	-moz-appearance: none;
	border: 1px solid #999; /* указание этого свойства также удалит обводку в FireFox */
}

form {
	margin-bottom: 5%;
}
.msg {
	width: 90%;
	margin: auto;
	padding: 1rem;
	font-family: Helvetica;
	text-align: justify;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.msg > .closed {
	font-size: 1.6rem;
	padding: 0;
}
.msg > .closed:hover { cursor: pointer;}

.msg-error {
	border: thin solid #ebccd1;
	color: #a94442;
	background-color: #f2dede;
	border-radius: 5px;
}

.msg-ok {
	border: thin solid #d6e9c6;
	color: #3c763d;
	background-color: #dff0d8;
	border-radius: 5px;
}
