.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 117px 117px 45px;
  grid-template-areas: "footer-logo footer-getst footer-abous footer-suport footer-contact" "footer-logo footer-getst footer-abous footer-suport footer-contact" "footer-endfot footer-endfot footer-endfot footer-endfot footer-endfot";
}

.footer-logo { grid-area: footer-logo; }

.footer-logo img {width: 150px;margin:20px 0px 0px 150px}

.footer-getst { grid-area: footer-getst; }

.footer-abous { grid-area: footer-abous; }

.footer-suport { grid-area: footer-suport; }

.footer-contact { grid-area: footer-contact; }

.footer-endfot { grid-area: footer-endfot; }

.footer-container {
    background-color: black;
    color: white;
    padding-top: 30px;
}
.footer-endfot p{
  margin: 10px;
  color: #ccc;
}

 .footer-endfot {
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.footer-abous .footer-suport .footer-contact  {
    text-align: center;
    margin-bottom: 60px;
}

.footer-container .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

.footer-container .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

.footer-container ul {
  text-align: center;
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.footer-container h5 {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.footer-container h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.footer-container a {
    color: white;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}

.footer-container a:hover,
.footer-container a:focus {
    text-decoration: none;
    color: white;
}

.social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}
.social-networks img{
  width: 32px;
  height: 32px;
}

.footer-container .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.footer-container .social-networks a:hover {
    text-decoration: none;
}

.footer-container .facebook:hover {
    color: #0077e2;
}

.footer-container .google:hover {
    color: #ef1a1a;
}

.footer-container .twitter:hover {
    content: "\f099";
    color: #00aced;
}

.footer-container .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    .footer-container {
        text-align: center;
    }
}
