* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

/* BODY */
body {
	min-width: 800px;
	width: 100%;
	margin: 0 auto;
}
/* *BODY */

/* HEADER */
body > header {
	background-color: rgba(255,255,255, 1);
	height: 50px;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.ctrl-panel {
    	left: 30px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

.ctrl-panel li { list-style: none; }
/* *HEADER */
/*MENU*/
nav {
	position:absolute;
	top: 5%;
	left:20%;
	background: white;
	}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .4s ease-in-out;
}
.topmenu {
	font-size: 15px;
    text-align: center;
    padding: 10px 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li:after {
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #d2d2d2;
  top: 16px;
  box-shadow: 4px -2px 0 #d2d2d2;
  transform: rotate(30deg);
}
.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}
.topmenu > li > a {
  padding: 12px 26px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}
.topmenu li a:hover {color: black;}
.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(.8);
  transition: .4s ease-in-out;
}
.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  font-size: 12px;
  color: #484848;
  font-family: 'Kurale', serif;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
/*MENU*/
/* NAV */
nav {
	background-color: rgba(255,255,255, 1);
}

nav ul {
	display: flex;
	justify-content: space-around;
}

nav ul li {
	list-style: none;
}

/**/
.admm{

};
* {box-sizing: border-box; margin: 0;}
.widget {
	position: absolute;
	margin-top:50px;
  padding: 20px 0 0 80%;
  font-family: 'Roboto', sans-serif;
  position:absolute;
	top:20%;
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 16px;
	margin-top: 7px;
  margin-bottom: 7px;
}
.widget-title1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #222;
  font-size: 12px;
  padding-left: 15px;
  margin-bottom: 15px;
}
.widget-list {
  padding: 0;
  list-style: none;
}
.widget-list a:before {
color:black;
  margin-right: 14px;
}
.widget-list a {
  color:black;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0;
  letter-spacing: 1px;
  font-weight: 300;
  color: #444;
  transition: .3s linear;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: black;
}
a:hover {
    color: red;
}
.widget-list a:hover {color: red;}

#admp{
	position:relative;
	margin-left:20px;
}

/* *NAV */

main {
	width:75%;
	background-color: rgba(255,255,255, 1);
	margin: auto;
	padding-top: 70px
}

/* #REG */
#reg {
	width: 100%;
	max-width: 600px;
	min-width: 480px;
	margin: auto;
}
.bx-wrapper .bx-pager {
	display: none;
}
.ctrh{
	font-size: 40px;
	color: black;
	font-family: PragmaticaLightC;
	font-weight: normal;
	line-height: 1em;
    text-align: left;
    margin-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
}
/* CARD */
.card button {
 border: none;
 outline: 0;
 padding: 10px;
 color: #fff;
 background-color: #f44336;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 18px;
}
.card p {
 font-size: 14px;
}

.price {
  color: red;
  font-size: 18px;
}
.card h3 {
 color: #767676;
}

.card img {
	height:125px;
  width: 200px;
}
::-webkit-scrollbar {
    display: none;
}
.card {
height:330px;
width:200px;
padding:15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 200px; /* Ограничение ширины */
margin: auto;
text-align: center;
font-family: sans-serif;
}
.card section {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.cardprice{
	display: inline-block;
}


.dv_main{
	height: 350px;
	width: 250px;
	padding: 10px;
	display: inline-block;

	background-color: white;
}

.dv_main_under{
    height: 200px;
    width: 342px;
    padding: 10px;
    padding-bottom: 170px;
    display: inline-block;

    background-color: white;
}

.img_main_one{
    background-color: #767676;
	height:350px;
	width:250px;
}

.img_main_two{
    background-color: #767676;
    height:200px;
    width:342px;
}

.dv_main a:link, a:visited {
    color:  rgb(73, 89, 102);;
}

