/* .MSG */
.msg {
	width: 90%;
	margin: auto;
	padding: 1rem;
	font-family: Helvetica;
	text-align: justify;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.msg > .closed {
	font-size: 1.6rem;
	padding: 0;
}
.msg > .closed:hover { cursor: pointer;}

.msg-error {
	border: thin solid #ebccd1;
	color: #a94442;
	background-color: #f2dede;
	border-radius: 5px;
}

.msg-ok {
	border: thin solid #d6e9c6;
	color: #3c763d;
	background-color: #dff0d8;
	border-radius: 5px;
}

input:focus{outline:none;}

input {
  margin-top: 15px;
	padding:5px;
	width: 250px;
	height:25px;
	font-size: 16px;
	border: 1px solid black;
	background: #F6F6f6;
	border-radius: 8px;
}

.loginbut{
	width:300px;
	height:40px;
	font-size: 16px;
}

.reg-container {
	margin-top: 12%;
	margin-bottom: 24%;
  width: 370px;
	padding:10px;
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 50px 75px 75px 75px 75px;
  grid-template-areas: "regtext" "reglogin" "regpasswd" "regpasswdok" "regsubm";
	border-radius:10px;
}

.regtext {
  grid-area: regtext;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
}

.reglogin { grid-area: reglogin; }

.regpasswd { grid-area: regpasswd; }

.regpasswdok { grid-area: regpasswdok; }

.regsubm { grid-area: regsubm; }

#reg{width:350px}
