/* VIEWER */
body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

article {
	width: 100%;
	max-width: 800px;
	min-width: 600px;
	margin: 0 auto;
}

header {
	padding: 1rem;
}

h1 {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.price {
	font-size: 20px;
	color:black;
	font-family: 'Exo 2', sans-serif;
	text-align: right;
}

.price:after {
	content: "р.";
}

figure {
	width: 400px;
}

figure img{
	max-width: 100%;
}

blockquote {
	padding: 1rem;
	background-color: rgba(74, 64, 72, 0);
	border-left: 3px solid #000000;
	margin: 0.5rem 0;
	font-family: 'Roboto', sans-serif;
}

footer {
	text-align: right;
	border-top: thin solid rgba(170, 170, 170, 0);
}

/* *VIEWER */
.view-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 200px 300px;
  grid-template-areas: "nametov nametov nametov pricetov"
					   "photo-tov photo-tov opisanie-tov opisanie-tov"
					   "photo-tov photo-tov harakt-tov harakt-tov";
}

.nametov { grid-area: nametov; }

.pricetov { grid-area: pricetov;}

.photo-tov { grid-area: photo-tov; }

.opisanie-tov { grid-area: opisanie-tov; }

.harakt-tov { grid-area: harakt-tov; }

.photo-tov img{width:480px;height:300px;}

.harakt-tov{
  padding-left:10px;
}
.block1{
min-height:560px;
}
button {
 border: none;
 outline: 0;
 padding: 10px;
 color: #fff;
 background-color: #f44336;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 18px;
}